[submodule "elcord"]
	path = elcord
	url = git://github.com/Mstrodl/elcord.git
[submodule "tern"]
	path = tern
	url = https://github.com/ternjs/tern
[submodule "elim"]
	path = elim
	url = git://git.savannah.gnu.org/elim.git
[submodule "svelte-mode"]
	path = svelte-mode
	url = https://github.com/leafOfTree/svelte-mode
