[submodule "elcord"]
	path = elcord
	url = https://github.com/Mstrodl/elcord.git
[submodule "tern"]
	path = tern
	url = https://github.com/ternjs/tern
[submodule "elim"]
	path = elim
	url = https://git.savannah.gnu.org/git/elim.git
[submodule "svelte-mode"]
	path = svelte-mode
	url = https://github.com/leafOfTree/svelte-mode
[submodule "dockerfile-mode"]
	path = dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "copilot.el"]
	path = copilot.el
	url = https://github.com/zerolfx/copilot.el.git
